---
---

@import "{{ site.theme }}";

@import url(http://fonts.googleapis.com/css?family=Teko);

$color-primary: #8cc8ff; // 140 200 255
$color-halfway: #7dabff; // 125 171 255
$color-secondary: #6d8dff; // 109 141 255

$bold-primary: #00caf9; // 0 202 249
$bold-halfway: #27abfc ; // 39 171 252
$bold-secondary: #4d8cff; // 77 140 255

.page-header {
	background: linear-gradient(
		135deg,
		$color-primary,
		$color-secondary
	);
}

@for $index from 1 through 6 {
	.main-content h#{$index} span {
		// Gradient Text
		background: linear-gradient(
			90deg,
			$bold-primary,
			$bold-secondary
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		// General Styles
		font-weight: 600;

		// Fallback
		color: $bold-halfway;
	}
}

h1.project-name {
	cursor: default;
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100px;
	margin: auto;
	display: block;

	-webkit-animation: bounce .3s ease infinite alternate;

	font-family: 'Teko';
	letter-spacing: 5px;
	font-weight: 800;
	font-size: 80px;
	color: #FFF;
	text-align: center;
	line-height: 100px;
	text-shadow: 0 1px 0 #CCC,
	           	 0 2px 0 #CCC,
	           	 0 3px 0 #CCC,
	           	 0 4px 0 #CCC,
	           	 0 5px 0 #CCC,
	           	 0 6px 0 transparent,
	           	 0 7px 0 transparent,
	           	 0 8px 0 transparent,
	           	 0 9px 0 transparent,
	           	 0 10px 10px rgba(0, 0, 0, .6);
}

@-webkit-keyframes bounce {
	100% {
		top: -30px;

		text-shadow: 0 1px 0 #CCC,
                	 0 2px 0 #CCC,
                	 0 3px 0 #CCC,
                	 0 4px 0 #CCC,
                	 0 5px 0 #CCC,
                	 0 6px 0 #CCC,
                	 0 7px 0 #CCC,
                	 0 8px 0 #CCC,
                	 0 9px 0 #CCC,
                	 0 30px 30px rgba(0, 0, 0, .3);
	}
}
