---
---

@import "{{ site.theme }}";

$color-primary: #8cc8ff; // 140 200 255
$color-halfway: #7dabff; // 125 171 255
$color-secondary: #6d8dff; // 109 141 255

$bold-primary: #00caf9; // 0 202 249
$bold-halfway: #27abfc ; // 39 171 252
$bold-secondary: #4d8cff; // 77 140 255

.page-header {
	background: linear-gradient(
		135deg,
		$color-primary,
		$color-secondary
	);
}

@for $index from 1 through 6 {
	.main-content h#{$index} span {
		// Gradient Text
		background: linear-gradient(
			90deg,
			$bold-primary,
			$bold-secondary
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		// General Styles
		font-weight: 600;

		// Fallback
		color: $bold-halfway;
	}
}

//Variables here:
//(alongside with commented suggestions)
$foreground-color:#b85b3f;//black;
$background-color:#e8e3c7;//white
$shadow-color:#ba9186;//$foreground-color;
$distance:8px;
$cut-distance:3px;//$distance/4;
$strips-size:6px; //10px
$strips-ratio:50%;//70%
$strips-angle:45deg;//90deg;

//cray stuff yo. be sure to try (if you please)
$animate:false;//true
$fixed:false;//true

body{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:85pt;
  background-color:$background-color;
  text-align:center;
  line-height:1.2em;
  padding-top:70px;
}
.dashed-shadow{
  position:relative;
  top:$distance;
  left:$distance;
  display:inline-block;
  color:$shadow-color;
}

.dashed-shadow:before{
  content:" ";
  display:block;

  position:absolute;
  $bleeding-horizontal:10px;
  $bleeding-vertical:0px;
  top:-$bleeding-vertical - $distance;
  left:-$bleeding-vertical - $distance;
  bottom:-$bleeding-horizontal + $distance;
  right:-$bleeding-horizontal + $distance;
  z-index:1;
  $color:$background-color;
  $size:$strips-ratio/2;
  $halfSize:$size/2;
  $p1:$halfSize;
  $p2:50%-$halfSize;
  $p3:50%+$halfSize;
  $p4:100%-$halfSize;
  $transparent:transparentize($color,1);
  background-image: linear-gradient(45deg, #e8e3c7 12.5%, rgba(232, 227, 199, 0) 12.5%, rgba(232, 227, 199, 0) 37.5%, #e8e3c7 37.5%, #e8e3c7 62.5%, rgba(232, 227, 199, 0) 62.5%, rgba(232, 227, 199, 0) 87.5%, #e8e3c7 87.5%);
  background-size:$strips-size $strips-size;
}

.dashed-shadow:after{
  z-index:2;
  content:attr(data-text);
  position:absolute;
  left:-$distance;
  top:-$distance;
  color:$foreground-color;
  text-shadow:$cut-distance $cut-distance $background-color;
}
